body {
  margin: 0;
  font-family: "Circular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Circular";
  src: url("https://assets.lalilo.com/circular-std/CircularStd-Book.eot");
  src: url("https://assets.lalilo.com/circular-std/CircularStd-Book.eot?#iefix")
      format("embedded-opentype"),
    url("https://assets.lalilo.com/circular-std/CircularStd-Book.woff2")
      format("woff2"),
    url("https://assets.lalilo.com/circular-std/CircularStd-Book.woff")
      format("woff"),
    url("https://assets.lalilo.com/circular-std/CircularStd-Book.ttf")
      format("truetype"),
    url("https://assets.lalilo.com/circular-std/CircularStd-Book.svg#ScolaCursive")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
